
section {
    display: flex;
    gap: 9px;
}

.footer {
    background-color: #D9D9D9;
    height: 65px;
    margin-top: 3rem;
}

.instagram {
    height: 28px;
    margin-left: 40px;
    margin-top: 16px;
}

.twitter {
    height: 28px;
    margin-left: 35px;
    margin-top: 16px;
}

.facebook {
    height: 28px;
    margin-left: 35px;
    margin-top: 16px;  
}

.telefone {
    height: 28px;
    margin-left: 660px;
    margin-top: 16px;

}

.redes {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.redes2 {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.redes3  {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.redes4  {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 17px;
}

