.navegueh1 {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-left: 66px;
    margin-top: -17rem;
}

.imagemnavegar {
    margin-left: 66px;
    height: 35rem;
}
